#player {
    border: 1em solid black;
    border-radius: 50%;
    height:30px;
    width: 30px;
    position: absolute;
    left: 30px;
    top: 30px;
}

#board {
    border: 20px solid black;
    height: 500px;
    width: 500px;
}
